a {
    text-decoration: none;
}
.alert-failed, .alert-restricted {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.cc-3q {
    width: 75%;
    margin: auto;
}
.cc-cart{
    position: fixed;
    z-index: 5;
    right: 0;
    top: 50px;
    margin: 16px;
    transition: all .25s ease-in-out;
}
.cc-cart:hover{
    transform: scale(1.1);
}
.cc-borderless{
    border: none;
    box-shadow: none;
}
